<div class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Nousveau produit</div>

      <div class="panel-body" *ngIf="!saveOk">

        <form #form="ngForm" (ngSubmit)="onSaveProduit(form.value)">


          <!--probleme avec dropdown et angular
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                Categorie
                <span class="caret"></span>
              </button>
              <ul *ngFor="let categorie of categories._embedded.categories" class="dropdown-menu"
                  aria-labelledby="dropdownMenu1">
                <li><a>{{categorie.nomCategorie}}</a></li>
              </ul>
            </div>-->

          <div class="form-group">
            <label class="control-label">Catégorie</label>
            <input class="form-control" type="text" name="nomCategorie" ngModel>
          </div>

          <div class="form-group">
            <label class="control-label">Désignation</label>
            <input class="form-control" type="text" name="designation" ngModel>
          </div>

          <div class="form-group">
            <label class="control-label">Quantité</label>
            <input class="form-control" type="text" name="quantite" ngModel>
          </div>

          <div class="form-group">
            <label class="control-label">prix</label>
            <input class="form-control" type="text" name="prix" ngModel>
          </div>

          <p></p>
          <p></p>
          <p></p>
          <button class="btn bg-success" type="submit">Save</button>
        </form>
      </div>
      <p></p>
      <div class="panel-body" *ngIf="saveOk">
        <button class="btn btn-success" (click)="onNewProduit()">Ajouter un nouveau produit</button>
        <p></p>
        <div class="form-group">
          <label>ID: </label>
          <label>{{currentProductAdded.id}}</label>
        </div>

        <div class="form-group">
          <label>DESIGNATION: </label>
          <label>{{currentProductAdded.designation}}</label>
        </div>

        <div class="form-group">
          <label>NOM CATEGORIE: </label>
          <label>{{currentProductAdded.nomCategorie}}</label>
        </div>

        <div class="form-group">
          <label>PRIX: </label>
          <label>{{currentProductAdded.prix}}</label>
        </div>

        <div class="form-group">
          <label>QUANTITE: </label>
          <label>{{currentProductAdded.quantite}}</label>
        </div>

      </div>
    </div>
  </div>
</div>
